#TabsToolbar {
  visibility: collapse;
}

tabs {
  counter-reset: tab-counter;
}

#sidebar-header {
  display: none;
}

@-moz-document url(chrome://browser/content/browser.xhtml){
  #browser{ overflow: hidden }
  #sidebar-box{ box-shadow: 0 0 16px black; position: relative;  z-index: 1 }
}
